:root {
    --mainColor: #fff;
    --buttonColor: #1da1f2;
    --buttonDisableColor: #f2f2f2;
}

.btn,
h1 {
    font-size: inherit;
}

.animated {
    animation-duration: 0.3s !important;
}

/* switch tgl */
.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
}

.tgl {
    display: none;
}

.tgl+.tgl-btn {
    display: block;
    width: 44px;
    height: 28px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn::after,
.tgl+.tgl-btn::before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn::after {
    left: 0;
}

.tgl+.tgl-btn::before {
    display: none;
}

.tgl-flat+.tgl-btn::after {
    transition: left 0.2s ease;
    background: var(--buttonDisableColor);
    content: "";
    border-radius: 1em;
}

.tgl-flat+.tgl-btn {
    padding: 2px;
    background: var(--mainColor);
    border: 4px solid var(--buttonDisableColor);
    border-radius: 2em;
}

/* checked */
.tgl-flat:checked+.tgl-btn {
    border: 4px solid var(--buttonColor);
}

.tgl-flat:checked+.tgl-btn::after {
    left: 50%;
    background: var(--buttonColor);
}

.switch_toggle_button_cls {
    display: flex;
    flex-direction: row;
}

.toggle_button_message {
    margin-left: 8px;
    padding-top: 2px;
}

@font-face {
    font-family: "Billabong";
    src: local("billabong");
    src: url("https://jackie99g.github.io/Aqua_project_staticfiles/css/Billabong.ttf");
}

a {
    color: black;
}

a:hover {
    color: #1da1f2;
}

.box {
    width: 100%;
    height: 150vh;
    color: black;
    background-color: #ffffff;
}

.box_bg_pattern {
    background-color: #e6ecf0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23ffffff' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.box_bg_animation {
    background: linear-gradient(-45deg,
            rgb(236, 148, 121),
            rgb(235, 133, 184),
            rgb(169, 235, 220),
            rgb(40, 140, 233));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* .box_bg_pale_blue {
    background-color: #D5EEFF;
    text-align: center;
    position: relative;
}

.introduce {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
} */

.header_contents {
    display: flex;
    height: 57px;
    /* background-color: #1B435D; */
    background-color: #ffffff;
    /* opacity: 0.6; */
    width: 100%;
    position: fixed;
    border-bottom: solid 1px #e6ecf0;
    z-index: 2;
    transition: top 0.2s ease;
}

.logo {
    display: inline-block;
    padding: 5px;
}

.username {
    display: inline-block;
    margin: auto 5px auto auto;
}

.user_picture {
    cursor: pointer;
}

.account {
    position: fixed;
    top: 58.5px;
    right: 5px;
    width: 300px;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    padding: 15px;
    visibility: hidden;
}

.eye_catch {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sale_copy {
    color: black;
    text-align: center;
    font-size: xx-large;
}

.dashboard_button_position {
    display: flex;
}

.dashboard_button {
    padding: 10px;
    font: bold;
    position: absolute;
    display: inline-block;
    border: solid 1px #23a0f2;
    background-color: #23a0f2;
    text-align: center;
    margin: 50px auto auto auto;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.dashboard_button>a {
    color: white;
}

.logo>h3>a {
    font-family: "billabong";
    color: black;
    text-decoration: none;
}

.username>a {
    color: black;
}

.user_picture {
    display: inline-block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.dashboard_pannel {
    padding-top: 57px;
}

.custom_side_pannel_md {
    width: 90px;
    height: 100%;
    margin-left: auto;
}

.flex_box_md {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 90px;
}

.side_content_md {
    font-size: x-large;
    margin-right: auto;
    margin-left: auto;
    word-break: break-all;
}

.custom_side_pannel_lg {
    width: 130px;
    height: 100%;
    margin-left: auto;
}

.flex_box_lg {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 74px;
    font-size: large;
}

.side_content_lg {
    margin-right: auto;
    word-break: break-all;
    padding: 4px 0 4px 0;
}

.custom_aside_pannel_lg {
    height: 100%;
    margin-right: auto;
}

.aside_content_lg {
    margin-right: auto;
    word-break: break-all;
}

.aside_border {
    border-left: 1px solid #e6ecf0;
    padding: 15px;
}

.flex_box_sm {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    border-top: solid 1px #e6ecf0;
    background-color: white;
    box-shadow: 0 0 8px #00000066;
}

.side_content_sm {
    width: 20%;
    padding: 5px;
    text-align: center;
}

.side_boder {
    border-right: 1px solid #e6ecf0;
    padding: 15px;
}

.main_content {
    padding: 0;
}

.content_display {
    display: none !important;
}

.account_user_info {
    display: flex;
    flex-direction: row;
}

.account_picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.account_name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.switch__animation:after {
    content: "Disable animation";
    position: absolute;
}

.switch__animation {
    height: 24px;
    position: relative;
}

.news_desktop {
    border: 0;
    border-bottom: 1px solid #e6ecf0;
    padding: 15px;
    border-radius: unset;
}

.news_sm {
    border: 0;
    border-bottom: 1px solid #e6ecf0;
    padding: 10px;
    border-radius: unset;
}

.news_desktop:hover,
.news_sm:hover {
    background: #F5F8FA;
}

.news_noimage {
    font-family: billabong;
    font-size: 36px;
    color: black;
}

.news_image {
    width: 160px;
    height: 90px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.news_image_sm {
    height: 150px;
    padding: 0;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.contents_anchor {
    padding: 12px;
    padding-bottom: 4px;
}

.select_active {
    color: #1da1f2;
    border-bottom: 1px solid #1da1f2;
}

.select_active_dashboard {
    color: #1da1f2;
}

.contents_anchor:hover {
    background-color: #e8f5fe;
}

/* weather style */
.current-weather {
    position: relative;
    width: 300px;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.cw {
    padding-top: 4px;
    padding-bottom: 4px;
}

.weather-position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    background: white;
    position: relative;
}

.weather-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position-x: center;
    opacity: 0.3;
}

.weather-details-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.weather-details-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.humidity {
    font-size: small;
}

.wind {
    font-size: small;
}

.current-temp {
    font-size: 24px;
}

.weather-time {
    font-size: 10px;
}

.weather-place {
    font-size: larger;
}

.weather-desc {
    font-size: smaller;
    height: 40px;
    margin-bottom: 8px;
}

.weather-date {
    font-size: smaller;
}

.weather-day {
    min-width: 100px;
    text-align: left;
    padding: 12px;
}

.weather-hourly {
    min-width: 100px;
    text-align: left;
    padding: 12px;
}

.details-day {
    min-width: 100px;
    text-align: left;
    padding: 12px;
}

.daily-weather {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
}

.hourly-weather-chart-block {
    position: relative;
    width: calc(100% - 48px);
    overflow-x: hidden;
    margin: 0 24px;
}

.hourly-weather {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
}

.day-details {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: relative;
}

.scroll-btn {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
    cursor: pointer;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin-top: 12px;
    font-size: 4px;
    position: relative;
    border-top: 1.1em solid rgba(29, 161, 242, 0.2);
    border-right: 1.1em solid rgba(29, 161, 242, 0.2);
    border-bottom: 1.1em solid rgba(29, 161, 242, 0.2);
    border-left: 1.1em solid #1da1f2;
    transform: translateZ(0);
    animation: load8 0.65s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swiper-container {
    width: auto;
    height: auto;
}

.swiper-slide {
    text-align: left;
}

.contents_anchor {
    text-align: center;
}

.gallery-menu {
    border-bottom: solid 1px #e6ecf0;
}

.gallery-menu .swiper-slide {
    opacity: 0.4;
}

.gallery-menu .swiper-slide-thumb-active {
    color: #1da1f2;
    border-bottom: 1px solid #1da1f2;
    opacity: 1;
}

.modal {
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
}

.modal-content {
    margin-left: auto;
    margin-right: 40px;
    padding-top: 15px;
    width: 100px;
    height: 100px;
    font-size: 70px;
    border: 0;
    border-radius: 50%;
    text-align: center;
    color: red;
    background: white;
    box-shadow: 3px 3px rgba(4, 88, 167, 0.1);
    cursor: pointer;
}

.share_btn {
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 45px;
    position: fixed;
    border-radius: 50%;
    bottom: 70px;
    right: 20px;
    border: 0;
    box-shadow: 8px 8px 8px 8px rgba(6, 134, 255, 0.15);
}

@media only screen and (min-width: 768px) {
    .share_btn {
        padding: 0;
        width: 80px;
        height: 80px;
        font-size: 60px;
        position: fixed;
        border-radius: 50%;
        bottom: 20px;
        right: 20px;
        border: 0;
        cursor: pointer;
    }
}

.share_btn:hover {
    background: linear-gradient(135deg, #86f3be 0%, #8ddaea 100%);
    box-shadow: 8px 8px 8px 8px rgba(6, 134, 255, 0.15);
    opacity: 0.8;
    transform: scale(0.95);
}

.shtw {
    color: white !important;
    background: linear-gradient(135deg, #86f3be 0%, #8ddaea 100%);
    font-family: "billabong";
    z-index: 2;
}

.close_icon {
    position: fixed;
    width: 20px;
    top: 0;
    margin-left: auto;
    cursor: pointer;
}

.micStatusStyle {
    position: fixed;
    font-size: large;
    padding-left: 8px;
}

.check_css {
    transition: background-color 0.2s linear;
    position: relative;
    display: inline-block;
    padding: 0 0 0 42px;
    vertical-align: middle;
    cursor: pointer;
}

.check_css:hover:after {
    border-color: #0171bd;
    background: rgba(245, 248, 250);
}

.check_css:after {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    content: '';
}

.check_css:before {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 50%;
    left: 21px;
    display: block;
    margin-top: -7px;
    width: 5px;
    height: 9px;
    border-right: 3px solid #0171bd;
    border-bottom: 3px solid #0171bd;
    content: '';
    opacity: 0;
    transform: rotate(45deg);
}

.check_css_opacity:before {
    opacity: 0;
}

.checked_css_opacity:before {
    opacity: 1;
}

/* Ripple effect */
.ripple {
    border: none;
    border-radius: 17px;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    background-position: center;
    transition: background 0.4s;
}

.ripple:hover {
    background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.timeline_background {
    top: 0;
    background-size: cover;
    background-position-x: center;
    position: fixed;
    opacity: 0.3;
    height: 100%;
}

.timeline {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 1px #e6ecf0;
    border-right: solid 1px #e6ecf0;
    position: relative;
}

.tweet {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 16px;
    border-bottom: solid 1px #e6ecf0;
}

.tweet-twitter_retweet_header {
    flex-basis: 100%;
    color: #657786;
    margin-bottom: 8px;
    margin-left: 28px;
    font-size: 12px;
}

.tweet-twitter_icon {
    flex-shrink: 0;
}

.tweet-twitter_main {
    margin-left: 8px;
    flex: 1;
    overflow: hidden;
}

.tweet-twitter_main_header {
    display: flex;
    margin-bottom: 2px;
    white-space: nowrap;
}

.tweet-twitter_name {
    font-weight: 700;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweet-twitter_screen_name {
    color: #657786;
    font-weight: normal;
}

.tweet-twitter_createdat {
    color: #657786;
    text-overflow: ellipsis;
}

.tweet-twitter_picture_block {
    display: block;
}

.tweet-twitter_view_picture {
    cursor: pointer;
}

.tweet-twitter_picture {
    display: none;
}

.tweet-twitter_urls {
    margin-top: 12px;
}

.tweet-twitter_social {
    display: flex;
    margin-top: 8px;
    color: #657786;
    justify-content: space-between;
}

.tweet-twitter_favorite {
    margin-right: 8px;
}

.tweet-twitter_retweet {
    margin-right: 8px;
}

.tweet:hover {
    cursor: pointer;
    background: rgba(245, 248, 250, 0.5);
}

.tweet-twitter_name:hover {
    text-decoration: underline;
}

.tweet-twitter_favorite {
    color: red;
}

.tweet-twitter_retweet {
    color: green;
}

.tweet-twitter_share {
    color: blue;
}

.tweet-twitter_pictures_border {
    margin: 12px 0 0 0;
    border: 1px solid #CCD6DD;
    border-radius: 12px;
}

.twitter_trends_block {
    padding: 8px 0;
    margin: 0 8px;
    border-top: 1px solid #e6ecf0;
}

.tweet-twitter_full_text_hashtags:hover,
.tweet-twitter_full_text_user:hover {
    text-decoration: underline;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp
}

.twitter-client {
    display: block;
}

.twitter-trends,
.twitter-account {
    display: none;
}

.tweet-twitter_picture_zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(64, 41, 45, 0.9);
}

.tweet-twitter_picture_zoom-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
}

.tweet-twitter_picture_zoom-element {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tweet-twitter_picture_zoom-navigator {
    position: absolute;
    color: white;
    background: rgba(64, 41, 45, 0.8);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.tweet-twitter_picture_zoom-element_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (min-width: 992px) {
    .twitter-client {
        display: flex;
        width: fit-content;
    }

    .twitter-trends {
        display: block;
    }

    .twitter-account {
        display: flex;
    }
}

.seamless_configuration-view {
    margin: 0 0 0 12px;
    padding: 12px 12px 12px 0;
    cursor: pointer;
}

.seamless_configuration-view:hover {
    background-color: #e6ecf0;
}

.seamless_configuration-edit {
    padding: 12px;
}

.seamless_configuration-back_button {
    cursor: pointer;
}

.seamless_configuration-input {
    border: 0;
    border-bottom: 1.5px solid gray;
    padding: 4px 10px;
    width: 100%;
}

.seamless_configuration-input:focus {
    border-bottom: 1.5px solid #1da1f2;
    outline: none;
}

.box_anchor_container {
    display: flex;
    border-bottom: solid 1px #e6ecf0;
    text-align: center;
    cursor: pointer;
    overflow-x: auto;
}

.box_anchor {
    padding: 12px 12px 8px 12px;
    flex: 0 0 auto;
    width: calc(100% / 3);
}

@media (min-width: 768px) {
    .box_anchor {
        padding: 12px 12px 8px 12px;
        flex: 1 0 auto;
        width: auto;
    }
}

.box_anchor:hover {
    background: #e8f5fe;
}

.box_container {
    display: flex;
    overflow-x: hidden;
    cursor: pointer;
}

.box_element {
    width: 100%;
    flex-shrink: 0;
}