:root {
    --mainColor: #fff;
    --buttonColor: #1da1f2;
    --buttonDisableColor: #f2f2f2;
}

/* switch tgl */
.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
}

.tgl {
    display: none;
}

.tgl+.tgl-btn {
    display: block;
    width: 44px;
    height: 28px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn::after,
.tgl+.tgl-btn::before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn::after {
    left: 0;
}

.tgl+.tgl-btn::before {
    display: none;
}

.tgl-flat+.tgl-btn::after {
    transition: left 0.2s ease;
    background: var(--buttonDisableColor);
    content: "";
    border-radius: 1em;
}

.tgl-flat+.tgl-btn {
    padding: 2px;
    background: var(--mainColor);
    border: 4px solid var(--buttonDisableColor);
    border-radius: 2em;
}

/* checked */
.tgl-flat:checked+.tgl-btn {
    border: 4px solid var(--buttonColor);
}

.tgl-flat:checked+.tgl-btn::after {
    left: 50%;
    background: var(--buttonColor);
}

.switch_toggle_button_cls {
    display: flex;
    flex-direction: row;
}

.toggle_button_message {
    margin-left: 8px;
    padding-top: 2px;
}

@font-face {
    font-family: "Billabong";
    src: local("billabong");
    src: url("https://jackie99g.github.io/Aqua_project_staticfiles/css/Billabong.ttf");
}

a {
    color: #5f6368;
}

a:hover {
    color: #1da1f2;
    text-decoration: none;
}

.box {
    width: 100%;
    height: 150vh;
    color: black;
    background-color: #ffffff;
}

.box_bg_pattern {
    background-color: #e6ecf0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23ffffff' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.box_bg_animation {
    background: linear-gradient(-45deg,
            rgb(236, 148, 121),
            rgb(235, 133, 184),
            rgb(169, 235, 220),
            rgb(40, 140, 233));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* .box_bg_pale_blue {
    background-color: #D5EEFF;
    text-align: center;
    position: relative;
}

.introduce {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
} */

.header_contents {
    display: flex;
    /* background-color: #1B435D; */
    background-color: #ffffff;
    /* opacity: 0.6; */
    width: 100%;
    position: fixed;
    border-bottom: solid 1px #e6ecf0;
    z-index: 2;
    transition: top 0.2s ease;
}

.logo {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}

.username {
    display: inline-block;
    margin: auto 5px auto auto;
}

.user_picture {
    cursor: pointer;
}

.account {
    position: fixed;
    top: 58.5px;
    right: 5px;
    width: 300px;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    padding: 15px;
    visibility: hidden;
}

.eye_catch {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sale_copy {
    color: black;
    text-align: center;
    font-size: xx-large;
}

.dashboard_button_position {
    display: flex;
}

.dashboard_button {
    padding: 10px;
    font: bold;
    position: absolute;
    display: inline-block;
    border: solid 1px #23a0f2;
    background-color: #23a0f2;
    text-align: center;
    margin: 50px auto auto auto;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.dashboard_button>a {
    color: white;
}

.logo>h3>a {
    font-family: "billabong";
    color: black;
    text-decoration: none;
}

.username>a {
    color: black;
}

.user_picture {
    display: inline-block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.dashboard_pannel {
    padding-top: 58.5px;
}

.custom_side_pannel_md {
    width: 90px;
    height: 100%;
    margin-left: auto;
}

.flex_box_md {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 90px;
}

.side_content_md {
    font-size: x-large;
    margin-right: auto;
    margin-left: auto;
    word-break: break-all;
}

.custom_side_pannel_lg {
    width: 130px;
    height: 100%;
    margin-left: auto;
}

.flex_box_lg {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 130px;
    font-size: large;
}

.side_content_lg {
    margin-right: auto;
    word-break: break-all;
    padding: 4px 0 4px 0;
}

.custom_aside_pannel_lg {
    width: 130px;
    height: 100%;
    margin-right: auto;
}

.aside_content_lg {
    margin-right: auto;
    word-break: break-all;
}

.aside_border {
    border-left: 1px solid #e6ecf0;
    padding: 15px;
}

.flex_box_sm {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    bottom: 0;
    z-index: 2;
    border-top: solid 1px #e6ecf0;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 8px #00000066;
}

.side_content_sm {
    text-align: center;
    word-break: break-all;
}

.side_boder {
    border-right: 1px solid #e6ecf0;
    padding: 15px;
}

.main_content {
    padding: 0;
}

.content_display {
    display: none !important;
}

.account_user_info {
    display: flex;
    flex-direction: row;
}

.account_picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.account_name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.switch__animation:after {
    content: "Disable animation";
    position: absolute;
}

.switch__animation {
    height: 24px;
    position: relative;
}

.news_image {
    width: 160px;
    height: 90px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.news_image_sm {
    height: 150px;
    padding: 0;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.contents_anchor {
    padding: 12px;
    padding-bottom: 4px;
}

.select_active {
    color: #1da1f2;
    border-bottom: 1px solid #1da1f2;
}

.select_active_dashboard {
    color: #1da1f2;
}

.contents_anchor:hover {
    background-color: #e8f5fe;
}

/* weather style */
.current-weather {
    width: 300px;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.cw {
    padding-top: 4px;
    padding-bottom: 4px;
}

.weather-position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    background: white;
    position: relative;
}

.weather-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position-x: center;
    opacity: 0.3;
}

.weather-details-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.weather-details-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.humidity {
    font-size: small;
}

.wind {
    font-size: small;
}

.current-temp {
    font-size: 24px;
}

.weather-time {
    font-size: 10px;
}

.weather-place {
    font-size: larger;
}

.weather-desc {
    font-size: smaller;
}

.weather-date {
    font-size: smaller;
}

.weather-day {
    width: 150px;
    text-align: left;
    padding: 12px;
}

.weather-hourly {
    width: 150px;
    text-align: left;
    padding: 12px;
}

.details-day {
    width: 150px;
    text-align: left;
    padding: 12px;
}

.daily-weather {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
}

.hourly-weather {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
}

.day-details {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: relative;
}

.scroll-btn {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
    cursor: pointer;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin-top: 12px;
    font-size: 4px;
    position: relative;
    border-top: 1.1em solid rgba(29, 161, 242, 0.2);
    border-right: 1.1em solid rgba(29, 161, 242, 0.2);
    border-bottom: 1.1em solid rgba(29, 161, 242, 0.2);
    border-left: 1.1em solid #1da1f2;
    transform: translateZ(0);
    animation: load8 0.65s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swiper-container {
    width: auto;
    height: auto;
}

.swiper-slide {
    text-align: left;
}

.contents_anchor {
    text-align: center;
}

.gallery-menu {
    border-bottom: solid 1px #e6ecf0;
}

.gallery-menu .swiper-slide {
    opacity: 0.4;
}

.gallery-menu .swiper-slide-thumb-active {
    color: #1da1f2;
    border-bottom: 1px solid #1da1f2;
    opacity: 1;
}

.modal {
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
}

.modal-content {
    margin-left: auto;
    margin-right: 40px;
    padding-top: 15px;
    width: 100px;
    height: 100px;
    font-size: 70px;
    border: 0;
    border-radius: 50%;
    text-align: center;
    color: red;
    background: white;
    box-shadow: 3px 3px rgba(4, 88, 167, 0.1);
    cursor: pointer;
}

.share_btn {
    width: 60px;
    height: 60px;
    font-size: 45px;
    position: fixed;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    bottom: 70px;
    right: 20px;
    border: 0;
    box-shadow: 8px 8px 8px 8px rgba(6, 134, 255, 0.15);
}

@media only screen and (min-width: 768px) {
    .share_btn {
        width: 80px;
        height: 80px;
        font-size: 60px;
        position: fixed;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        bottom: 20px;
        right: 20px;
        border: 0;
        cursor: pointer;
    }
}

.share_btn:hover {
    background: linear-gradient(135deg, #86f3be 0%, #8ddaea 100%);
    box-shadow: 8px 8px 8px 8px rgba(6, 134, 255, 0.15);
    opacity: 0.8;
    transform: scale(0.95);
}

.shtw {
    color: white !important;
    background: linear-gradient(135deg, #86f3be 0%, #8ddaea 100%);
    font-family: "billabong";
    z-index: 3;
}

.close_icon {
    position: fixed;
    width: 20px;
    top: 0;
    margin-left: auto;
    cursor: pointer;
}

.micStatusStyle {
    position: fixed;
    font-size: large;
    padding-left: 8px;
}