:root {
    scroll-behavior: auto;
}

#main {
    padding: 0;
}

#footer {
    margin: 1rem 0;
}

.btn,
h1 {
    font-size: inherit;
}

video {
    outline: none;
}

body {
    background-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(21, 32, 43);
        color: rgb(255, 255, 255);
    }
}

.animated {
    animation-duration: 0.3s !important;
}

/* switch tgl */
.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
}

.tgl {
    display: none;
}

.tgl + .tgl-btn {
    display: block;
    width: 44px;
    height: 28px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl + .tgl-btn::after,
.tgl + .tgl-btn::before {
    position: relative;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
}

.tgl + .tgl-btn::after {
    left: 0;
}

.tgl + .tgl-btn::before {
    display: none;
}

.tgl-flat + .tgl-btn::after {
    transition: left 0.2s ease;
    background: #f2f2f2;
    content: '';
    border-radius: 1em;
}

.tgl-flat + .tgl-btn {
    padding: 2px;
    background: transparent;
    border: 4px solid #f2f2f2;
    border-radius: 2em;
}

/* checked */
.tgl-flat:checked + .tgl-btn {
    border: 4px solid #1da1f2;
}

.tgl-flat:checked + .tgl-btn::after {
    left: 50%;
    background: #1da1f2;
}

.switch_toggle_button_cls {
    display: flex;
    flex-direction: row;
}

.toggle_button_message {
    margin-left: 8px;
    padding-top: 2px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #1da1f2;
    text-decoration: underline;
}

/* ap_theme */
.ap_theme-light-border {
    border-color: #e6ecf0;
}

.ap_theme-dark-border {
    border-color: #38444d;
}

.ap_theme-default-border {
    border-color: #e6ecf0;
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-border {
        border-color: #38444d;
    }
}

.ap_theme-light-background:not(.ap_only_hover) {
    background-color: rgb(255, 255, 255);
}

.ap_theme-light-background:hover:not(.ap_not_hover) {
    background-color: rgb(245, 248, 250);
}

.ap_theme-light-background-skelton:hover:not(.ap_not_hover) {
    background-color: rgb(245, 248, 250, 0.5);
}

.ap_theme-dark-background:not(.ap_only_hover) {
    background-color: rgb(21, 32, 43);
}

.ap_theme-dark-background:hover:not(.ap_not_hover) {
    background-color: rgb(25, 39, 52);
}

.ap_theme-dark-background-skelton:hover:not(.ap_not_hover) {
    background-color: rgb(25, 39, 52, 0.5);
}

.ap_theme-default-background:not(.ap_only_hover) {
    background-color: rgb(255, 255, 255);
}

.ap_theme-default-background:hover:not(.ap_not_hover) {
    background-color: rgb(245, 248, 250);
}

.ap_theme-default-background-skelton:hover:not(.ap_not_hover) {
    background-color: rgb(245, 248, 250, 0.5);
}

.ap_theme-light-background:active.ap_active,
.ap_theme-dark-background:active.ap_active,
.ap_theme-default-background:active.ap_active {
    background-color: rgba(29, 161, 242, 0.2);
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-background:not(.ap_only_hover) {
        background-color: rgb(21, 32, 43);
    }

    .ap_theme-default-background:hover:not(.ap_not_hover) {
        background-color: rgb(25, 39, 52);
    }

    .ap_theme-default-background-skelton:hover:not(.ap_not_hover) {
        background-color: rgb(25, 39, 52, 0.5);
    }
}

.ap_theme-light-color-sub,
.ap_theme-light-placeholder::placeholder {
    color: #657786;
}

.ap_theme-dark-color-sub,
.ap_theme-dark-placeholder::placeholder {
    color: #8899a6;
}

.ap_theme-default-color-sub,
.ap_theme-default-placeholder::placeholder {
    color: #657786;
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-color-sub,
    .ap_theme-default-placeholder::placeholder {
        color: #8899a6;
    }
}

/* Ripple effect */
.ap_theme-light-ripple,
.ap_theme-dark-ripple,
.ap_theme-default-ripple {
    border: none;
    cursor: pointer;
    outline: none;
    background-position: center;
    transition: background 0.4s;
}

.ap_theme-light-ripple:hover {
    background: #f5f8fa radial-gradient(circle, transparent 1%, #f5f8fa 1%)
        center/15000%;
}

.ap_theme-dark-ripple:hover {
    background: #192734 radial-gradient(circle, transparent 1%, #192734 1%)
        center/15000%;
}

.ap_theme-default-ripple:hover {
    background: #f5f8fa radial-gradient(circle, transparent 1%, #f5f8fa 1%)
        center/15000%;
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-ripple:hover {
        background: #192734 radial-gradient(circle, transparent 1%, #192734 1%)
            center/15000%;
    }
}

.ap_theme-light-ripple:active,
.ap_theme-dark-ripple:active,
.ap_theme-default-ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.ap_theme-light-logo {
    filter: invert(59%) sepia(62%) saturate(3971%) hue-rotate(176deg)
        brightness(98%) contrast(94%);
}

.ap_theme-dark-logo {
    filter: brightness(0) invert(1);
}

.ap_theme-default-logo {
    filter: invert(59%) sepia(62%) saturate(3971%) hue-rotate(176deg)
        brightness(98%) contrast(94%);
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-logo {
        filter: brightness(0) invert(1);
    }
}

.ap_theme-light-svg-icon {
    color: transparent;
    stroke: #657786;
    stroke-linejoin: round;
}

.ap_theme-dark-svg-icon {
    color: transparent;
    stroke: #8899a6;
    stroke-linejoin: round;
}

.ap_theme-default-svg-icon {
    color: transparent;
    stroke: #657786;
    stroke-linejoin: round;
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-svg-icon {
        color: transparent;
        stroke: #8899a6;
        stroke-linejoin: round;
    }
}

.ap_theme-light-btn {
    color: #1d9bf0;
    border-color: #1d9bf0;
}

.ap_theme-light-btn:hover,
.ap_theme-light-btn:active {
    color: #1d9bf0;
    background-color: #e8f5fd;
    border-color: #1d9bf0;
}

.ap_theme-light-btn:hover.ap_theme-light-btn:focus {
    color: #1d9bf0;
    background-color: #d2ebfc;
    border-color: #1d9bf0;
}

.ap_theme-dark-btn {
    color: #1d9bf0;
    border-color: #1d9bf0;
}

.ap_theme-dark-btn:hover,
.ap_theme-dark-btn:active {
    color: #1d9bf0;
    background-color: #162d3f;
    border-color: #1d9bf0;
}

.ap_theme-dark-btn:hover.ap_theme-dark-btn:focus {
    color: #1d9bf0;
    background-color: #173952;
    border-color: #1d9bf0;
}

.ap_theme-default-btn {
    color: #1d9bf0;
    border-color: #1d9bf0;
}

.ap_theme-default-btn:hover,
.ap_theme-default-btn:active {
    color: #1d9bf0;
    background-color: #e8f5fd;
    border-color: #1d9bf0;
}

.ap_theme-default-btn:hover.ap_theme-default-btn:focus {
    color: #1d9bf0;
    background-color: #d2ebfc;
    border-color: #1d9bf0;
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-btn {
        color: #1d9bf0;
        border-color: #1d9bf0;
    }

    .ap_theme-default-btn:hover,
    .ap_theme-default-btn:active {
        color: #1d9bf0;
        background-color: #162d3f;
        border-color: #1d9bf0;
    }

    .ap_theme-default-btn:hover.ap_theme-default-btn:focus {
        color: #1d9bf0;
        background-color: #173952;
        border-color: #1d9bf0;
    }
}

.ap_theme-light-backdrop {
    background-color: rgba(255, 255, 255, 0.9);
}

.ap_theme-dark-backdrop {
    background-color: rgb(21, 32, 43, 0.9);
}

.ap_theme-default-backdrop {
    background-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
    .ap_theme-default-backdrop {
        background-color: rgb(21, 32, 43, 0.9);
    }
}

@media (min-width: 768px) {
    @supports (backdrop-filter: blur(20px)) {
        .ap_theme-light-backdrop {
            backdrop-filter: blur(20px);
            background-color: rgba(255, 255, 255, 0.5);
        }

        .ap_theme-dark-backdrop {
            backdrop-filter: blur(20px);
            background-color: rgb(21, 32, 43, 0.5);
        }

        .ap_theme-default-backdrop {
            backdrop-filter: blur(20px);
            background-color: rgba(255, 255, 255, 0.5);
        }

        @media (prefers-color-scheme: dark) {
            .ap_theme-default-backdrop {
                backdrop-filter: blur(20px);
                background-color: rgb(21, 32, 43, 0.5);
            }
        }
    }
}

.select_active_dashboard svg[class*='ap_theme-'] {
    stroke: none;
    stroke-linejoin: miter;
}

.ap_btn-fill {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.ap_btn-fill:hover {
    color: #fff;
    background-color: #ca2055;
    border-color: #ca2055;
}

.ap_btn-fill:hover.ap_btn-fill:focus {
    color: #fff;
    background-color: #b31d4b;
    border-color: #b31d4b;
}

.ap_display_none {
    display: none;
}

.header_contents {
    display: flex;
    height: 57px;
    background-color: inherit;
    width: 100%;
    position: fixed;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    z-index: 2;
}

.header-summarize_button {
    display: none;
}

.logo {
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .header-summarize_button {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        margin: 0 0 0 10px;
        cursor: pointer;
    }

    .logo {
        padding: 0;
    }
}

.username {
    display: inline-block;
    margin: auto 0 auto auto;
}

@media (min-width: 768px) {
    .username {
        margin: auto 10px auto auto;
    }
}

.account {
    position: fixed;
    top: 57px;
    visibility: hidden;
    z-index: 2;
}

.openap {
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.openapbtn {
    transition: 0.15s;
}

.openapbtn:hover {
    transform: scale(0.95);
}

.openapdiv {
    transition: 0.15s;
}

@media (min-width: 768px) {
    .openapdiv:hover {
        transform: scale(1.05);
    }
}

.openapgrid {
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 768px) {
    .openapgrid {
        grid-template-columns: auto auto;
    }
}

.openapimg {
    height: 200px;
    width: 200px;
    margin: auto;
    filter: drop-shadow(0 8px 15px rgb(0 0 0 / 20%));
}

@media (min-width: 768px) {
    .openapimg {
        margin: 3rem;
    }
}

.username > a {
    color: black;
}

.user_picture {
    width: 3rem;
    height: 3rem;
    padding: 3.5px;
    margin-right: calc(1rem - 3.5px);
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer;
}

.user_picture:hover {
    background: rgba(60, 64, 67, 0.08);
}

.user_picture_img {
    display: inline-block;
    border-radius: 50%;
    width: calc(3rem - 7px);
    height: calc(3rem - 7px);
}

.dashboard_pannel {
    padding-top: 57px;
}

#footer.footer-margin_bottom {
    margin-bottom: 1rem;
}

#footer.footer-margin_bottom_0 {
    margin-bottom: calc(1rem + 50px);
}

@media (min-width: 768px) {
    #footer.footer-margin_bottom_0 {
        margin-bottom: 1rem;
    }
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*  - 767px */
.dashboard-house {
    position: static;
}

.dashboard-element {
    width: 20%;
    padding: 0.2rem;
    text-align: center;

    background: transparent;
}

.dashboard-element > a > div {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin: auto;
    border-radius: 50%;
}

.dashboard-element > a > div > svg {
    margin: auto;
    width: 1.5rem;
    height: 1.4rem;
}

.dashboard-element p {
    display: none;
}

/* 768px - 991px */
@media (min-width: 768px) {
    .dashboard-house {
        border-right-style: solid;
        border-right-width: 1px;
        padding: 15px;
    }

    .dashboard-container {
        width: 90px;
        height: 100%;
        margin-left: auto;
    }

    .flex_box_sm.dashboard-box,
    .flex_box_sm_0.dashboard-box {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 90px;
    }

    .dashboard-element {
        font-size: x-large;
        margin-right: auto;
        margin-left: auto;
        word-break: break-all;

        width: auto;
        padding: 0;
        text-align: left;
    }

    .dashboard-element > a > div {
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        border-radius: 0;
    }

    .dashboard-element > a > div > svg {
        margin: 0;
        width: 1rem;
        height: 1rem;
    }

    .dashboard-element p {
        display: none;
    }
}

/* 992px -  */
@media (min-width: 992px) {
    .dashboard-house {
        border-right-style: solid;
        border-right-width: 1px;
        padding: 15px;
    }

    .dashboard-container {
        width: 130px;
        height: 100%;
        margin-left: auto;
    }

    .flex_box_sm.dashboard-box,
    .flex_box_sm_0.dashboard-box {
        display: block;
        flex-direction: row;
        position: sticky;
        width: auto;
        top: 74px;
    }

    .dashboard-element {
        font-size: large;
        margin-right: auto;
        word-break: break-all;
        /* padding: 4px 0; */

        width: auto;
        text-align: left;

        margin: 4px 0 8px;
    }

    .dashboard-element > a > div {
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        border-radius: 0;
    }

    .dashboard-element > a > div > svg {
        margin: 0;
        width: 1rem;
        height: 1rem;
    }

    .dashboard-element p {
        display: inline;
    }
}

@media (min-width: 768px) {
    .dashboard-visibility_hidden {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    .dashboard-position_bottom {
        padding: 0;
    }

    .dashboard-position_off {
        display: none;
        width: 100%;
        padding: 0;
    }

    .dashboard-position_top {
        width: 100%;
        padding: 0;
    }
}

.custom_aside_pannel_lg {
    height: 100%;
    margin-right: auto;
}

.aside_content_lg {
    margin-right: auto;
    word-break: break-all;
}

.aside_border {
    border-left-style: solid;
    border-left-width: 1px;
    padding: 15px;
}

@media (max-width: 767px) {
    .flex_box_sm {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2;
        border-top-style: solid;
        border-top-width: 0.5px;
        left: 0;
        /* box-shadow: 0 0 8px #00000066; */
    }

    .flex_box_sm_0 {
        display: flex;
        position: relative;
        z-index: 1;
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
        left: 0;
    }
}

.content_display {
    display: none !important;
}

.account_user_info {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.account_picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.account_name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.switch__animation:after {
    content: 'Disable animation';
    position: absolute;
}

.switch__animation {
    height: 24px;
    position: relative;
}

.news_noimage {
    font-size: 36px;
    color: black;
}

.news_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .news_image {
        max-width: 192px;
        max-height: 108px;
        height: 108px;
    }
}

.news_content {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .news_content {
        padding: 0;
    }
}

.select_active_dashboard svg {
    color: #1da1f2;
}

/* weather style */
.current-weather {
    position: relative;
    width: 300px;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.cw {
    padding-top: 4px;
    padding-bottom: 4px;
}

.weather-position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.weather-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position-x: center;
    opacity: 0.3;
}

.weather-details-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.weather-details-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.humidity {
    font-size: small;
}

.wind {
    font-size: small;
}

.current-temp {
    font-size: 24px;
}

.weather-time {
    font-size: 10px;
}

.weather-place {
    font-size: larger;
}

.weather-desc {
    font-size: smaller;
    height: 40px;
    margin-bottom: 8px;
}

.weather-date {
    font-size: smaller;
}

.weather-day {
    min-width: 100px;
    text-align: left;
    padding: 12px;
}

.weather-hourly {
    min-width: 100px;
    text-align: left;
    padding: 12px;
}

.details-day {
    min-width: 100px;
    text-align: left;
    padding: 12px;
}

.daily-weather {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
}

.hourly-weather-chart-block {
    position: relative;
    width: calc(100% - 48px);
    overflow-x: hidden;
    margin: 0 24px;
}

.hourly-weather {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
}

.day-details {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: relative;
}

.scroll-btn {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
    cursor: pointer;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    font-size: 2px;
    margin: 12px auto;
    position: relative;
    border-top: 1.1em solid rgba(29, 161, 242, 0.2);
    border-right: 1.1em solid rgba(29, 161, 242, 0.2);
    border-bottom: 1.1em solid rgba(29, 161, 242, 0.2);
    border-left: 1.1em solid #1da1f2;
    transform: translateZ(0);
    animation: load8 0.65s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.check_css {
    transition: background-color 0.2s linear;
    position: relative;
    display: inline-block;
    padding: 0 0 0 42px;
    vertical-align: middle;
    cursor: pointer;
}

.check_css:hover:after {
    border-color: #0171bd;
    background: rgba(245, 248, 250);
}

.check_css:after {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    content: '';
}

.check_css:before {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 50%;
    left: 21px;
    display: block;
    margin-top: -7px;
    width: 5px;
    height: 9px;
    border-right: 3px solid #0171bd;
    border-bottom: 3px solid #0171bd;
    content: '';
    opacity: 0;
    transform: rotate(45deg);
}

.check_css_opacity:before {
    opacity: 0;
}

.checked_css_opacity:before {
    opacity: 1;
}

.timeline_background {
    top: 0;
    background-size: cover;
    background-position-x: center;
    position: fixed;
    opacity: 0.3;
    height: 100%;
}

.timeline {
    width: 100%;
    max-width: 600px;
    position: relative;
}

@media (min-width: 600px) {
    .timeline {
        border-left-style: solid;
        border-right-style: solid;
        border-width: 1px;
    }
}

.tweet {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 12px 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tweet-twitter_header_icon {
    grid-column: 1/2;
    margin-bottom: 8px;
    margin-left: auto;
    font-size: 0.9rem;
}

.tweet-twitter_header_text {
    grid-column: 2/3;
    margin-bottom: 8px;
    margin-left: 8px;
    font-size: 0.9rem;
}

.tweet-twitter_retweet_icon i:before {
    padding: 0;
}

.tweet-twitter_icon {
    grid-column: 1/2;
}

.tweet-twitter_main {
    margin-left: 8px;
}

.tweet-twitter_main_header {
    display: grid;
    grid: auto / minmax(auto, min-content) auto;
    margin-bottom: 2px;
}

.tweet-twitter_name {
    font-weight: 700;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tweet-twitter_screen_name,
.twitter_user-screen_name,
.twitter_user-local {
    font-weight: normal;
}

/* .twitter_user-favorites_count-unit,
.twitter_user-statuses_count-unit,
.twitter_user-following_count-unit,
.twitter_user-followers_count-unit,
.twitter_user-count_status-comma,
.twitter_user-status-comma {
    color: #657786;
} */

.twitter_user-following_count-unit:hover,
.twitter_user-followers_count-unit:hover {
    color: #1da1f2;
}

.tweet-twitter_createdat {
    grid-area: 1/2/2/3;
}

.tweet-twitter_picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    src: url(https://jackie99g.github.io/aquaprojects_staticfiles/images/icon.svg);
}

.tweet-twitter_social {
    display: flex;
    margin-top: 0.9rem;
    color: #657786;
    justify-content: space-between;
}

.tweet-twitter_favorite,
.tweet-twitter_retweet,
.tweet-twitter_share {
    flex-basis: calc(100% / 3);
    display: flex;
    align-items: center;
}

.tweet-twitter_favorite:hover {
    color: #e0245e;
}

.tweet-twitter_favorite:hover.tweet-twitter_favorite
    > div
    > div:not(.tweet-twitter_social_menu-element) {
    background-color: rgba(224, 36, 94, 0.1);
}

.tweet-twitter_retweet:hover {
    color: #17bf63;
}

.tweet-twitter_retweet:hover.tweet-twitter_retweet
    > div
    > div:not(.tweet-twitter_social_menu-element) {
    background-color: rgba(23, 191, 99, 0.1);
}

.tweet-twitter_share:hover {
    color: #1da1f2;
}

.tweet-twitter_share:hover.tweet-twitter_share
    > div
    > div:not(.tweet-twitter_social_menu-element) {
    background-color: rgba(29, 161, 242, 0.1);
}

.tweet:hover {
    cursor: pointer;
}

.tweet-twitter_name:hover {
    text-decoration: underline;
}

.tweet-twitter_anchor {
    color: #1b95e0;
}

.tweet-twitter_pictures_border {
    margin: 12px 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}

.twitter_trends_block {
    padding: 8px 0;
    margin: 0 8px;
    border-top-style: solid;
    border-top-width: 1px;
}

.tweet-twitter_full_text a,
.tweet-twitter_full_text span {
    white-space: pre-wrap;
    word-break: break-word;
}

.tweet-twitter_full_text_hashtags:hover,
.tweet-twitter_full_text_user:hover {
    text-decoration: underline;
}

.twitter_user-profile_image {
    margin-bottom: 8px;
}

.twitter_user-screen_name,
.twitter_user-description,
.twitter_user-local {
    padding-bottom: 8px;
}

.tweet-twitter_in_reply_to_status:hover {
    text-decoration: underline;
}

@keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0);
    }
}

.fadeInUpSmall {
    animation-name: fadeInUpSmall;
    animation-duration: 0.15s !important;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 0.15s;
}

.twitter-client {
    display: flex;
    justify-content: center;
}

.twitter_title-home-text {
    font-weight: 700;
}

.tweet-twitter_social_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
}

.tweet-twitter_social_menu-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    padding: 0 0 10px;
}

.tweet-twitter_social_menu-bar {
    border: 2px solid #dee2e6;
    width: 10%;
    margin: 0.6rem auto 0.3rem;
    border-radius: 100px;
}

.tweet-twitter_social_menu-element {
    display: grid;
    grid: auto / auto 1fr;
    padding: 1rem;
}

.tweet-twitter_social-dropdown {
    position: absolute;
    box-shadow: 8px 8px 8px 8px rgb(6 134 255 / 15%);
    margin: -1rem;
    border-radius: 1rem;
}

.tweet-twitter_picture_zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.tweet-twitter_picture_zoom-container {
    display: flex;
    cursor: pointer;
    width: 100%;
}

.tweet-twitter_picture_zoom-element {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tweet-twitter_picture_zoom-navigator {
    position: absolute;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}

.tweet-twitter_picture_zoom-element_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.twitter_user-profile_timeline_navigation-tweets,
.twitter_user-profile_timeline_navigation-with_replies,
.twitter_user-profile_timeline_navigation-media,
.twitter_user-profile_timeline_navigation-likes {
    flex: auto;
    text-align: center;
    padding: 12px;
}

.twitter_user-profile_timeline_navigation-tweets:hover,
.twitter_user-profile_timeline_navigation-with_replies:hover,
.twitter_user-profile_timeline_navigation-media:hover,
.twitter_user-profile_timeline_navigation-likes:hover {
    border-bottom: 1px solid rgb(29, 161, 242);
    color: rgb(29, 161, 242);
    cursor: pointer;
}

.twitter_user-profile_timeline_navigation-selected {
    border-bottom: 1px solid rgb(29, 161, 242);
    color: rgb(29, 161, 242);
}

.twitter_user-background_image > img,
.twitter_user-background_image > div {
    width: 100%;
    height: 33.3333%;
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
}

@media (min-width: 600px) {
    .twitter_user-background_image > img,
    .twitter_user-background_image > div {
        width: 100%;
        min-height: calc(598px / 3);
        max-height: calc(598px / 3);
    }
}

@media (min-width: 992px) {
    .twitter-client {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .twitter-search_box,
    .twitter-trends {
        display: block;
    }

    .twitter-profile {
        display: flex;
    }
}

.twitter_title-block {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.twitter_title-block:not(.ap_not_tracking) {
    position: sticky;
    top: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .twitter_title-block {
        position: static;
    }
}

.tweet-twitter_user_tooltip {
    width: 300px;
    display: none;
    position: absolute;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 8px 8px 8px 8px rgba(6, 134, 255, 0.15);
    padding: 1rem;
    white-space: normal;
    z-index: 1;
}

.twitter-slider-item {
    cursor: pointer;
    position: absolute;
    background: #8ed0f9;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.twitter-grid-area-1132 {
    grid-area: 1/1/3/2;
}

.twitter-grid-area-1223 {
    grid-area: 1/2/2/3;
}

.twitter-grid-area-2233 {
    grid-area: 2/2/3/3;
}

.seamless_configuration-view {
    padding: 1rem;
    cursor: pointer;
}

.seamless_configuration-view:hover {
    color: inherit;
    text-decoration: none;
}

.seamless_configuration-edit {
    padding: 12px;
}

.seamless_configuration-back_button {
    color: inherit;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 0.5rem;
    grid-area: 1/1/2/2;
}

.seamless_configuration-back_button:hover {
    color: inherit;
}

.seamless_configuration-input {
    border: 0;
    border-bottom: 1.5px solid gray;
    padding: 4px 10px;
    width: 100%;
}

.seamless_configuration-input:focus {
    border-bottom: 1.5px solid #1da1f2;
    outline: none;
}

.seamless_configuration-form-radio-button {
    border: 1px solid #e6ecf0;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.seamless_configuration-form-radio-input:checked
    + .seamless_configuration-form-radio-button {
    border: 1px solid #1da1f2;
    background: #1da1f2;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.seamless_configuration-form-radio-input:checked
    + .seamless_configuration-form-radio-button:before {
    content: '';
    display: block;
    border-bottom: 1.75px solid #f8f9fa;
    border-right: 1.75px solid #f8f9fa;
    height: 70%;
    width: 35%;
    transform: rotate(45deg);
    transform-origin: 60% 120%;
}

.seamless_configuration-view-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.seamless_configuration-view-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_anchor_container {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    cursor: pointer;
}

.box_anchor {
    padding: 12px 12px 8px;
    flex: 0 0 auto;
    width: calc(100% / 3);
}

@media (min-width: 768px) {
    .box_anchor {
        padding: 12px 12px 8px;
        flex: 1 0 auto;
        width: auto;
    }
}

.box_anchor:hover {
    border-bottom: 1px solid rgb(29, 161, 242);
}

.box_container {
    display: flex;
    cursor: pointer;
}

.box_element {
    width: 100%;
    flex-shrink: 0;
}

.account svg,
.custom_side_pannel_sm svg {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.4rem;
}

.bi {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    vertical-align: -0.125rem;
}
