{% load templateTag %}
<div class="header">
<div class="header_contents">
<div class="logo"><h3><a href="/">Aqua Project</a></h3></div>
<div class="progress" style="height: 3px; position: fixed; z-index: 3; top: 0px; left: 0px; width: 100%; background: white;">
<div id="ajax-progress-bar" class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% if request.user.is_authenticated %}
<div class="username"><img class="user_picture" src={{ request|account_picture }} alt="Account picure"></img></div>
{% else %}
<div class="username"><a href="/home"><i class="fas fa-sign-in-alt"></i> Sign in</a></div>
{% endif %}

{% if request.user.is_authenticated %}
<!-- Account information -->
<div id="account" class="account">
<div class="account_content account_user_info">
<img class="account_picture" src={{ request|account_picture }} alt="Account picure"></img>
<div class="account_name">
<div class="account_content">{{ request.user.first_name }}</div>
<div class="account_content_email">{{ request|account_email }}</div>
</div>
</div>
<div class="account_content"><hr></div>
<!-- Shortcut  -->
<div class="account_content"><a class="account_content dashboard_anchor header_contents_shortcut" href="/home"><i class="fas fa-home"></i> Home</a></div>
<div class="account_content"><a class="account_content dashboard_anchor header_contents_shortcut" href="/news"><i class="fas fa-newspaper"></i> News</a></div>
<div class="account_content"><a class="account_content dashboard_anchor header_contents_shortcut" href="/weather"><i class="fas fa-cloud-sun-rain"></i> Weather</a></div>
<div class="account_content"><a class="account_content dashboard_anchor header_contents_shortcut" href="/translate"><i class="fas fa-language"></i> Translate</a></div>
<div class="account_content"><a class="account_content dashboard_anchor header_contents_shortcut" href="/search"><i class="fas fa-search"></i> Search</a></div>
<div class="account_content"><a class="account_content dashboard_anchor header_contents_shortcut" href="/experiment"><i class="fas fa-flask"></i> Experiment</a></div>
<div class="account_content"><a class="account_content dashboard_anchor header_contents_shortcut" href="/newsplus"><i class="fas fa-kiwi-bird"></i> Newsplus</a></div>
<div class="account_content"><hr></div>
<div class="account_content">
<a class="account_content dashboard_anchor header_contents_shortcut" href="/settings"><i class="fas fa-cog"></i> Settings</a>
</div>
<div class="account_content">
<a class="account_content" href="/logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
</div>
<div class="account_content"><hr></div>
<!-- Settings -->
<div class="account_content">Settings:</div>
<div class="account_content">
<div class="switch">
<label class="switch__label">
<input type="checkbox" name="check" class="prop switch__input" checked="checked" />
<span class="switch__content"></span>
<span class="switch__circle"></span>
</label>
</div>
</div>
<div class="account_content">
<div class="switch__animation">
<label class="switch__label">
<input type="checkbox" name="check" class="animation switch__input" checked="checked" />
<span class="switch__content"></span>
<span class="switch__circle"></span>
</label>
</div>
</div>
</div>
{% else %}
{% endif %}
</div>
</div>
<script async type="text/javascript" src="https://jackie99g.github.io/Aqua_project_staticfiles/js/header.js"></script>